
<!DOCTYPE html>
<!--[if lte IE 8]>
<html lang="en-US" class="no-js lt-ie9">
<script type="text/javascript" src="/javascripts/vendor/polyfill.js"></script>

<![endif]-->
<!--[if gt IE 8]><!--> <html lang="en-US" class="no-js"> <!--<![endif]-->
  <head>
    <!-- 
    What is this, you ask?
      It's a shim for phantomJS since phantom does not have a bind function.
-->


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Uber</title>
    <meta name="description" content="Get a taxi, private car or rideshare from your mobile phone. Uber connects you with a driver in minutes. Use our app in cities around the world.">
    <meta name="viewport" content="width=device-width">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta http-equiv="cleartype" content="on">
    

    
<script>
  window.clientGlobals = {
    currentPathname: "/",
    cookieSpecificDomain: "www.uber.com",
    cookieSharedDomain: ".uber.com"
  };
</script>


    
    
    <link rel="alternate" href="/" hreflang="en" />
    
    
    <link rel="alternate" href="/az/" hreflang="az" />
    
    
    
    <link rel="alternate" href="/id/" hreflang="id" />
    
    
    
    <link rel="alternate" href="/ms/" hreflang="ms" />
    
    
    
    <link rel="alternate" href="/da/" hreflang="da" />
    
    
    
    <link rel="alternate" href="/de/" hreflang="de" />
    
    
    
    <link rel="alternate" href="/de-AT/" hreflang="de-AT" />
    
    
    
    <link rel="alternate" href="/el/" hreflang="el" />
    
    
    
    
    
    <link rel="alternate" href="/es/" hreflang="es" />
    
    
    
    <link rel="alternate" href="/es-ES/" hreflang="es-ES" />
    
    
    
    <link rel="alternate" href="/et/" hreflang="et" />
    
    
    
    <link rel="alternate" href="/fr/" hreflang="fr" />
    
    
    
    <link rel="alternate" href="/it/" hreflang="it" />
    
    
    
    <link rel="alternate" href="/hu/" hreflang="hu" />
    
    
    
    <link rel="alternate" href="/hr/" hreflang="hr" />
    
    
    
    <link rel="alternate" href="/lt/" hreflang="lt" />
    
    
    
    <link rel="alternate" href="/nl/" hreflang="nl" />
    
    
    
    <link rel="alternate" href="/pl/" hreflang="pl" />
    
    
    
    <link rel="alternate" href="/pt/" hreflang="pt" />
    
    
    
    <link rel="alternate" href="/pt-PT/" hreflang="pt-PT" />
    
    
    
    <link rel="alternate" href="/ro/" hreflang="ro" />
    
    
    
    <link rel="alternate" href="/fi/" hreflang="fi" />
    
    
    
    <link rel="alternate" href="/sk/" hreflang="sk" />
    
    
    
    <link rel="alternate" href="/sv/" hreflang="sv" />
    
    
    
    <link rel="alternate" href="/tl/" hreflang="tl" />
    
    
    
    <link rel="alternate" href="/vi/" hreflang="vi" />
    
    
    
    <link rel="alternate" href="/tr/" hreflang="tr" />
    
    
    
    <link rel="alternate" href="/cs/" hreflang="cs" />
    
    
    
    <link rel="alternate" href="/ru/" hreflang="ru" />
    
    
    
    <link rel="alternate" href="/bg/" hreflang="bg" />
    
    
    
    <link rel="alternate" href="/he/" hreflang="he" />
    
    
    
    <link rel="alternate" href="/ar/" hreflang="ar" />
    
    
    
    <link rel="alternate" href="/th/" hreflang="th" />
    
    
    
    <link rel="alternate" href="/zh/" hreflang="zh" />
    
    
    
    <link rel="alternate" href="/zh-TW/" hreflang="zh-TW" />
    
    
    
    <link rel="alternate" href="/ja/" hreflang="ja" />
    
    
    
    <link rel="alternate" href="/ko/" hreflang="ko" />
    
    


    <!-- Twitter sharing meta -->
    <meta name="twitter:card" content="app">
    <meta name="twitter:description" content="The Uber app connects you with a driver at the tap of a button. Available on iPhone, Android, and at m.uber.com.">
    <meta name="twitter:app:id:iphone" content="368677368">
    <meta name="twitter:app:id:ipad" content="368677368">
    <meta name="twitter:app:id:googleplay" content="com.ubercab">

    <!-- Facebook sharing meta -->
    
      <meta property="og:image" content="//d1a3f4spazzrp4.cloudfront.net/facebook/shareimage1.png">
      <meta property="og:image" content="//d1a3f4spazzrp4.cloudfront.net/facebook/shareimage2.png">
      <meta property="og:image" content="//d1a3f4spazzrp4.cloudfront.net/facebook/shareimage3.png">
    
    <meta property="fb:app_id" content="277064115737714">

    <meta property="og:title" content="Uber">
    <meta property="og:description" content="Get a taxi, private car or rideshare from your mobile phone. Uber connects you with a driver in minutes. Use our app in cities around the world.">
    <meta property="og:url" content="https://www.uber.com/">

    <!-- Mobile iOS stuff -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/> <!--320-->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="">
    <script>(function(a,b,c){if(c in b&&b[c]){var d,e=a.location,f=/^(a|html)$/i;a.addEventListener("click",function(a){d=a.target;while(!f.test(d.nodeName))d=d.parentNode;"href"in d&&(d.href.indexOf("http")||~d.href.indexOf(e.host))&&(a.preventDefault(),e.href=d.href)},!1)}})(document,window.navigator,"standalone")</script>

    <!-- Stylesheets -->
    <link rel='stylesheet' href='//d1a3f4spazzrp4.cloudfront.net/uber-fonts/2.0.1/fresh.css' />
    <link rel='stylesheet' href='/stylesheets/uber.css' />
    
      <link rel='stylesheet' href='/stylesheets/style.css' />
    
      <link rel='stylesheet' href='/stylesheets/carousel.css' />
    

  </head>

  
    <body class="dark light-foot">
  

    <div class="preloader js-preloader"></div>

    <!-- This allows for opening and closing of the main nav -->
    
    <div class="web global-container js-global-container">

      <nav class="global-nav js-global-nav">

    <div class="actions yui3-g">
      <a href="#" class="close js-menu yui3-u-1-2 res-s-hidden ga-click-track" data-ga="global-menu.close-button-click">
        <span class="icon-close"></span>
      </a>
      <a href="/log-in" class="signin yui3-u-1-2 res-s-hidden ga-click-track" data-ga="global-menu.login-button-click">
        Log In
      </a>
      <a href="/sign-up" class="js-app-store-btn signup yui3-u-1 ga-click-track" data-ga="global-menu.login-button-click">
        Sign up
      </a>
    </div>

    <p class="primary">
      <a class="home ga-click-track" href="/" data-ga="global-menu.home-tab-click">
        Home
      </a>
      <a class="cities ga-click-track" href="/cities" data-ga="global-menu.cities-tab-click">
        Our Cities
      </a>
      <a class="drivers ga-click-track" href="//partners.uber.com/drive" data-ga="global-menu.driver-tab-click">
        Be a Driver
      </a>
    </p>

    <div class="secondary">
      <p><a href="/features" class="ga-click-track" data-ga="global-menu.features-tab-click">App Features</a></p>
      <p><a href="/safety" class="ga-click-track" data-ga="global-menu.safety-tab-click">Safety</a></p>
      <p><a href="/business" class="ga-click-track" data-ga="global-menu.business-tab-click">Business</a></p>
      <p><a href="//developer.uber.com" class="ga-click-track" data-ga="global-menu.developer-tab-click">Developer</a></p>
      <p><a href="/about" class="ga-click-track" data-ga="global-menu.about-tab-click">About Us</a></p>
      <p><a href="//help.uber.com" target="_blank" class="ga-click-track" data-ga="global-menu.help-tab-click">Help Center</a></p>
      <p><a href="/jobs" class="ga-click-track" data-ga="global-menu.jobs-tab-click">Careers</a></p>
      <p><a href="/legal" class="ga-click-track" data-ga="global-menu.legal-tab-click">Legal</a></p>
      <p><a href="//blog.uber.com" target="_blank" class="ga-click-track" data-ga="global-menu.blog-tab-click">Newsroom</a></p>
      <p>
        <a href="/log-in" class="res-m-hidden res-l-hidden ga-click-track" data-ga="global-menu.login-button-click">
          Log In
        </a>
      </p>
    </div>

    

      <form class="language-picker js-language-picker" action="#">
        <label for="language">Language</label>
        <select id="language" class="lang-select js-lang-select">
          
            <option value="az-AZ">
              Azərbaycan
            </option>
          
            <option value="id-ID">
              Bahasa Indonesia
            </option>
          
            <option value="ms-MY">
              Bahasa Melayu
            </option>
          
            <option value="da-DA">
              Dansk
            </option>
          
            <option value="de-DE">
              Deutsch
            </option>
          
            <option value="de-AT">
              Deutsch (Austria)
            </option>
          
            <option value="el-GR">
              ελληνικά
            </option>
          
            <option value="en-US">
              English
            </option>
          
            <option value="es-MX">
              Español
            </option>
          
            <option value="es-ES">
              Español (España)
            </option>
          
            <option value="et">
              Eesti Keel
            </option>
          
            <option value="fr-FR">
              Français
            </option>
          
            <option value="it-IT">
              Italiano
            </option>
          
            <option value="hu-HU">
              Magyar
            </option>
          
            <option value="hr">
              Hrvatski
            </option>
          
            <option value="lt-LT">
              Lietuvių
            </option>
          
            <option value="nl-NL">
              Nederlands
            </option>
          
            <option value="pl-PL">
              Polski
            </option>
          
            <option value="pt-BR">
              Português (Brasil)
            </option>
          
            <option value="pt-PT">
              Português (Portugal)
            </option>
          
            <option value="ro-RO">
              Română
            </option>
          
            <option value="fi-FI">
              Suomi
            </option>
          
            <option value="sk-SK">
              Slovenčina
            </option>
          
            <option value="sv-SE">
              Svenska
            </option>
          
            <option value="tl-PH">
              Tagalog
            </option>
          
            <option value="vi-VN">
              Tiếng Việt
            </option>
          
            <option value="tr-TR">
              Türkçe
            </option>
          
            <option value="cs-CZ">
              Čeština
            </option>
          
            <option value="ru-RU">
              Pусский
            </option>
          
            <option value="bg-BG">
              български език
            </option>
          
            <option value="he-IL">
              עברית
            </option>
          
            <option value="ar-SA">
              العربية
            </option>
          
            <option value="th-TH">
              ภาษาไทย
            </option>
          
            <option value="zh-CN">
              简体中文
            </option>
          
            <option value="zh-TW">
              繁體中文
            </option>
          
            <option value="ja-JP">
              日本語
            </option>
          
            <option value="ko-KR">
              한국어
            </option>
          
        </select>
        <span class="dd-arrow icon-signup-downarrow"></span>
      </form>

    

    <div class="download-apps">
      <a href="//itunes.apple.com/us/app/uber/id368677368?mt=8"
         target="_blank" class="apple-store ir js-app-store-btn" class="ga-click-track" data-ga="global-menu.appstore-button-click">
        <img src="//d1a3f4spazzrp4.cloudfront.net/web-fresh/global/apple-store-download-135px.png" />
      </a>
      <a href="//play.google.com/store/apps/details?id=com.ubercab"
         target="_blank" class="google-play ir" class="ga-click-track" data-ga="global-menu.playstore-button-click">
        <img src="//d1a3f4spazzrp4.cloudfront.net/web-fresh/global/google-play-store-download-135px.png" />
      </a>
      <a href="//www.windowsphone.com/en-us/store/app/uber/b905a877-bd55-4ce7-a7aa-467cdc3a21f4"
         target="_blank" class="windows-store ir" class="ga-click-track" data-ga="global-menu.windowsstore-button-click">
        <img src="//d1a3f4spazzrp4.cloudfront.net/web-fresh/global/windows-phone-135px.png" />
      </a>
    </div>
</nav>


      <section class="site-wrapper js-site-wrapper">
        <div class="global-nav-overlay js-global-nav-overlay"></div>
        <div class="head-fade"></div>

        <header class="global-header js-global-header">
            <section class="top-cta js-hidden js-top-cta">
              <article class="driver-promo-cta">
                <div class="yui3-g">
                  <div class="yui3-u-1-4 car-img-wrapper">
                    <div class="car-lineup-bg"></div>
                  </div>
                  <div class="yui3-u-1-2 driver-value-prop">
                    <h5>Want to drive with Uber?</h5>
                  </div>
                  <div class="yui3-u-1-4 btn-wrapper">
                    <a href="//partners.uber.com/drive/" class="btn ga-click-track"
                      data-ga="top-cta.driver-sign-up-button-click">
                      Become a driver
                    </a>
                  </div>
                </div>
              </article>
              <a href="#" class="ga-click-track js-hide-top-cta"
                data-ga="top-cta.cta-dismiss-click">
                <span class="icon-close"></span>
              </a>
            </section>
          

          <div class="pull-left">
            <a href="#" class="menu js-menu ga-click-track" data-ga="global-header.menu-button-click">
              <span class="icon-menu"></span>
              <span class="menu-text res-s-hidden">Menu</span>
            </a>
          </div>

          <p class="pull-right actions res-s-hidden">
            
              <a href="/log-in" class="ga-click-track js-login-link"
                 data-ga="global-header.login-button-click" data-mp="landing_page.log_in_click">
                Log In
              </a>
            
            
              <a href="/sign-up" class="btn ga-click-track js-signup-or-dl-cta js-signup-btn"
                 data-ga="global-header.sign-up-button-click">
                Sign Up
              </a>
            
          </p>
          
            <p class="pull-right actions res-m-hidden res-l-hidden">
              <a href="/app" class="btn ga-click-track js-signup-or-dl-cta js-signup-btn"
                 data-ga="global-header.download-mobile">
                  Download
              </a>
            </p>
          

          
          <div class="yui3-u-1-3 center block-center">
            <a href="/" class="uber-logo ir ga-click-track"
               data-ga="global-header.logo-click">Uber</a>
          </div>

        </header>


<script>
  heroPhotos = [{"cta":{"content":"Sign Up","link":"//get.uber.com"},"headline":"Your Ride, On Demand","heroType":"left","image":"slide1","subheadline":"Transportation in minutes with the Uber app"},{"cta":{"content":"Sign Up","link":"//get.uber.com/drive/"},"headline":"Drive with Uber","heroType":"left","image":"slide2","subheadline":"Your car. Your schedule. Your move."},{"cta":{"content":"Learn More","link":"//www.uber.com/our-women-partner-program"},"headline":"Her turn to earn","heroType":"left","image":"slide3","subheadline":"Creating 1,000,000 jobs for women by 2020"}]
</script>

<section class="hero react-hero">

  <div class="reactCarouselContainer">
    <div class="carousel-container"><div class="carousel-container__slide carousel-container__slide--active"><div><div class="hero-slide-container--left hero-slide-container"><div class="hero-slide-image-viewport"><div class="hero-slide-image slide1"></div></div><div class="hero-slide__content--left hero-slide__content"><h1 class="content__headline">Your Ride, On Demand</h1><h3 class="content__subheadline primary-font primary-font--semibold text--uppercase gamma">Transportation in minutes with the Uber app</h3><a class="content__cta btn btn--primary primary-font primary-font--semibold" href="//get.uber.com">Sign Up</a></div></div></div></div><div class="carousel-container__slide carousel-container__slide--passive"><div><div class="hero-slide-container--left hero-slide-container"><div class="hero-slide-image-viewport"><div class="hero-slide-image slide2"></div></div><div class="hero-slide__content--left hero-slide__content"><h1 class="content__headline">Drive with Uber</h1><h3 class="content__subheadline primary-font primary-font--semibold text--uppercase gamma">Your car. Your schedule. Your move.</h3><a class="content__cta btn btn--primary primary-font primary-font--semibold" href="//get.uber.com/drive/">Sign Up</a></div></div></div></div><div class="carousel-container__slide carousel-container__slide--passive"><div><div class="hero-slide-container--left hero-slide-container"><div class="hero-slide-image-viewport"><div class="hero-slide-image slide3"></div></div><div class="hero-slide__content--left hero-slide__content"><h1 class="content__headline">Her turn to earn</h1><h3 class="content__subheadline primary-font primary-font--semibold text--uppercase gamma">Creating 1,000,000 jobs for women by 2020</h3><a class="content__cta btn btn--primary primary-font primary-font--semibold" href="//www.uber.com/our-women-partner-program">Learn More</a></div></div></div></div><div class="nav-container"><div class="nav-arrow-container"><div class="nav-arrow-container__mouse-container"><div class="nav-arrow nav-arrow--hidden nav-arrow--left"></div><div class="nav-arrow nav-arrow--hidden nav-arrow--right"></div></div></div><div class="nav-breadcrumbs-container nav-breadcrumbs-container--center"><div class="nav-breadcrumbs nav-breadcrumbs--bottom"><a class="nav-breadcrumbs__breadcrumb nav-breadcrumbs__breadcrumb--active"></a><a class="nav-breadcrumbs__breadcrumb"></a><a class="nav-breadcrumbs__breadcrumb"></a></div></div></div></div>
  </div>

</section>


<section class="request-and-ride js-request-and-ride">
  <div class="grid-locked grid-squeezed">

    

<article >
  <p class="label">Features</p>
  <h3>The Uber App</h3>
  <p>Request, ride, and pay via your mobile phone</p>

  <ul class="story js-story yui3-g">
    
    <li class="yui3-u-1-3 yui3-u-m-1-2 yui3-u-s-1-2 tap-to-ride ga-click-track"
        data-ga="home-uber-app.tap-to-ride-box-click"
        data-modal-name="tap-to-ride">
      <div>
        <div class="title-box">
          <h4 class="headline">One Tap<br />to Ride</h4>
          <span class="plus icon-thin_plus"></span>
        </div>
        <div class="overlay"></div>
      </div>
    </li>
    
    <li class="yui3-u-1-3 yui3-u-m-1-2 yui3-u-s-1-2 reliable-pickup ga-click-track"
        data-ga="home-uber-app.reliable-pickup-box-click"
        data-modal-name="reliable-pickup">
      <div>
        <div class="title-box">
          <h4 class="headline">Reliable<br />Pickups</h4>
          <span class="plus icon-thin_plus"></span>
        </div>
        <div class="overlay"></div>
      </div>
    </li>
    
    <li class="yui3-u-1-3 yui3-u-m-1-2 yui3-u-s-1-2 clear-pricing ga-click-track"
        data-ga="home-uber-app.clear-pricing-box-click"
        data-modal-name="clear-pricing">
      <div>
        <div class="title-box">
          <h4 class="headline">Clear<br />Pricing</h4>
          <span class="plus icon-thin_plus"></span>
        </div>
        <div class="overlay"></div>
      </div>
    </li>
    
    <li class="yui3-u-1-3 yui3-u-m-1-2 yui3-u-s-1-2 cashless-convenient ga-click-track"
        data-ga="home-uber-app.cashless-convenient-box-click"
        data-modal-name="cashless-convenient">
      <div>
        <div class="title-box">
          <h4 class="headline">Cashless &<br />Convenient</h4>
          <span class="plus icon-thin_plus"></span>
        </div>
        <div class="overlay"></div>
      </div>
    </li>
    
    <li class="yui3-u-1-3 yui3-u-m-1-2 yui3-u-s-1-2 feedback-matters ga-click-track"
        data-ga="home-uber-app.feedback-matters-box-click"
        data-modal-name="feedback-matters">
      <div>
        <div class="title-box">
          <h4 class="headline">Feedback<br />Matters</h4>
          <span class="plus icon-thin_plus"></span>
        </div>
        <div class="overlay"></div>
      </div>
    </li>
    
    <li class="yui3-u-1-3 yui3-u-m-1-2 yui3-u-s-1-2 split-fare ga-click-track"
        data-ga="home-uber-app.split-fare-box-click"
        data-modal-name="split-fare">
      <div>
        <div class="title-box">
          <h4 class="headline">Split Your<br />Fare</h4>
          <span class="plus icon-thin_plus"></span>
        </div>
        <div class="overlay"></div>
      </div>
    </li>
    
  </ul>
</article>

<article class="modal-gallery js-modal-gallery">
  <a href="#" class="close-modal js-close-modal icon-modal-close"></a>

  <div class="modal-container">
    <a href="#" class="last btn icon-left_thin"></a>

    <ul >
      
        <li class="modal-slide tap-to-ride"
            data-modal-slide="tap-to-ride">
          <p class="feature-image js-preload"></p>
          <p class="stick"></p>
          <div class="copy">
            <h3>One Tap to Ride</h3>
            <p>Uber uses your phone's GPS to detect your location and connects you with the nearest available driver. Get picked up anywhere — even if you don't know the exact address.</p>
          </div>
        </li>
      
        <li class="modal-slide reliable-pickup"
            data-modal-slide="reliable-pickup">
          <p class="feature-image js-preload"></p>
          <p class="stick"></p>
          <div class="copy">
            <h3>Reliable Pickups</h3>
            <p>When you request a ride, we’ll find a driver and let you track their location on the map. Feel free to put away your phone – we’ll text you when your ride arrives. Your driver’s name and car details appear in the app, and you can message or call if you need to.</p>
          </div>
        </li>
      
        <li class="modal-slide clear-pricing"
            data-modal-slide="clear-pricing">
          <p class="feature-image js-preload"></p>
          <p class="stick"></p>
          <div class="copy">
            <h3>Clear Pricing</h3>
            <p>View rates for your city in the app. You can also enter your pickup and drop-off locations to get a fare estimate for your trip.</p>
          </div>
        </li>
      
        <li class="modal-slide cashless-convenient"
            data-modal-slide="cashless-convenient">
          <p class="feature-image js-preload"></p>
          <p class="stick"></p>
          <div class="copy">
            <h3>Cashless &amp; Convenient</h3>
            <p>You don't need cash when you ride with Uber. Once you arrive at your destination, your fare is automatically charged to your credit card on file – no need to tip. We’ll also e-mail you a receipt.</p>
          </div>
        </li>
      
        <li class="modal-slide feedback-matters"
            data-modal-slide="feedback-matters">
          <p class="feature-image js-preload"></p>
          <p class="stick"></p>
          <div class="copy">
            <h3>Feedback Matters</h3>
            <p>Drivers not only meet Uber’s standards, they meet your standards. After your trip, you can rate your experience and leave additional feedback about your driver.</p>
          </div>
        </li>
      
        <li class="modal-slide split-fare"
            data-modal-slide="split-fare">
          <p class="feature-image js-preload"></p>
          <p class="stick"></p>
          <div class="copy">
            <h3>Split Your Fare</h3>
            <p>Simplify your life and your fractions. Invite your friends to split the fare. If your friends opt in, each person’s credit card will be charged equally. No more pay-me-backs or IOUs.</p>
          </div>
        </li>
      
    </ul>

    <a href="#" class="next btn icon-right_thin"></a>
  </div>
</article>


  </div>
</section>

<section class="vehicle-fleet yui3-g">
  <div class="bg-top"></div>
  <div class="grid-locked grid-squeezed">

    <article class="content js-content yui3-u-1">

      <p class="label inverted">Options</p>
      <h3>Choice is a beautiful thing</h3>
      <p>Get a ride that matches your style and budget</p>

      <section class="uberx active vehicle-slide js-vehicle-slide"
               data-vehicle-slide="uberx">
        <div class="sunrise-box">
          <h4>The low-cost Uber</h4>
          <p class="sunrise">uber<strong>X</strong></p>
        </div>
        <div class="vehicle-info">
          <p class="vehicle-img uberx">uberX</p>
          <div class="copy">
            <p>Everyday cars for everyday use.<br />Better, faster, and cheaper than a taxi.</p>
          </div>
        </div>
      </section>
      <section class="taxi vehicle-slide js-vehicle-slide"
               data-vehicle-slide="taxi">
        <div class="sunrise-box">
          <h4>Taxi without the hassle</h4>
          <p class="sunrise">uber<strong>TAXI</strong></p>
        </div>
        <div class="vehicle-info">
          <p class="vehicle-img js-preload">Taxi</p>
          <div class="copy">
            <p>No whistling, no waving, no cash needed.</p>
          </div>
        </div>
      </section>
      <section class="black vehicle-slide js-vehicle-slide"
               data-vehicle-slide="black">
        <div class="sunrise-box">
          <h4>The original</h4>
          <p class="sunrise">Uber<strong>BLACK</strong></p>
        </div>
        <div class="vehicle-info">
          <p class="vehicle-img js-preload">Black</p>
          <div class="copy">
            <p>Your own private driver, on demand.<br />Expect pickup in a high-end sedan within minutes.</p>
          </div>
        </div>
      </section>
      <section class="suv vehicle-slide js-vehicle-slide"
               data-vehicle-slide="suv">
        <div class="sunrise-box">
          <h4>Room for everyone</h4>
          <p class="sunrise">Uber<strong>SUV</strong></p>
        </div>
        <div class="vehicle-info">
          <p class="vehicle-img js-preload">SUV</p>
          <div class="copy">
            <p>For those times when you need a bit more space.<br />Seats up to six people in style.</p>
          </div>
        </div>
      </section>
      <section class="lux vehicle-slide js-vehicle-slide"
               data-vehicle-slide="lux">
        <div class="sunrise-box">
          <h4>Ultimate luxury</h4>
          <p class="sunrise">Uber<strong>LUX</strong></p>
        </div>
        <div class="vehicle-info">
          <p class="vehicle-img js-preload">LUX</p>
          <div class="copy">
            <p>The finest cars with prices to match.</p>
          </div>
        </div>
      </section>

    </article>

    <article class="vehicle-chooser js-vehicle-chooser res-s-hidden yui3-u-1">

      <div class="vehicles js-vehicles yui3-g">
        <a href="#" data-icon-name="icon-uberx" data-slide-type="uberx"
           class="active yui3-u-1-5 uberx">uberX</a>
        <a href="#" data-icon-name="icon-taxi" data-slide-type="taxi"
           class="yui3-u-1-5">TAXI</a>
        <a href="#" data-icon-name="icon-black" data-slide-type="black"
           class="yui3-u-1-5">BLACK</a>
        <a href="#" data-icon-name="icon-suv" data-slide-type="suv"
           class="yui3-u-1-5">SUV</a>
        <a href="#" data-icon-name="icon-lux" data-slide-type="lux"
           class="yui3-u-1-5">LUX</a>
      </div>

      <div class="slider-bar js-slider-bar">
        <p href="#" class="slider-circle js-slider">
          <span class="car icon-uberx"></span>
        </p>
      </div>

    </article>

    <!-- TODO Make partials and only load what is needed here -->
    <!-- TODO Make this dynamic data -->
    <nav class="mobile-nav js-mobile-nav res-l-hidden res-m-hidden yui3-u-1">

      <div class="uberx">
        <a class="vehicle-toggle js-vehicle-toggle" href="#">
          uber<strong>X</strong>
          <span class="closed mobile-arrow icon-signup-downarrow"></span>
          <span class="open mobile-arrow icon-signup-uparrow"></span>
        </a>
        <div class="data">
          <div class="sunrise-box"><p class="sunrise">uberX</p></div>
          <p class="vehicle-img js-preload">uberX</p>
          <div class="info">
            <h5>The low-cost Uber</h5>
            <p>Everyday cars for everyday use.<br />Better, faster, and cheaper than a taxi.</p>
          </div>
        </div>
      </div>

      <div class="taxi">
        <a class="vehicle-toggle js-vehicle-toggle" href="#">
          uber<strong>TAXI</strong>
          <span class="closed mobile-arrow icon-signup-downarrow"></span>
          <span class="open mobile-arrow icon-signup-uparrow"></span>
        </a>
        <div class="data">
          <div class="sunrise-box"><p class="sunrise">uberTAXI</p></div>
          <p class="vehicle-img js-preload taxi">uberTAXI</p>
          <div class="info">
            <h5>Taxi without the hassle</h5>
            <p>No whistling, no waving, no cash needed.</p>
          </div>
        </div>
      </div>

      <div class="black">
        <a class="vehicle-toggle js-vehicle-toggle" href="#">
          Uber<strong>BLACK</strong>
          <span class="closed mobile-arrow icon-signup-downarrow"></span>
          <span class="open mobile-arrow icon-signup-uparrow"></span>
        </a>
        <div class="data">
          <div class="sunrise-box"><p class="sunrise">UberBLACK</p></div>
          <p class="vehicle-img js-preload">UberBLACK</p>
          <div class="info">
            <h5>The original</h5>
            <p>Your own private driver, on demand.<br />Expect pickup in a high-end sedan within minutes.</p>
          </div>
        </div>
      </div>

      <div class="suv">
        <a class="vehicle-toggle js-vehicle-toggle" href="#">
          Uber<strong>SUV</strong>
          <span class="closed mobile-arrow icon-signup-downarrow"></span>
          <span class="open mobile-arrow icon-signup-uparrow"></span>
        </a>
        <div class="data">
          <div class="sunrise-box"><p class="sunrise">UberSUV</p></div>
          <p class="vehicle-img js-preload">UberSUV</p>
          <div class="info">
            <h5>Room for everyone</h5>
            <p>For those times when you need a bit more space.<br />Seats up to six people in style.</p>
          </div>
        </div>
      </div>

      <div class="lux">
        <a class="vehicle-toggle js-vehicle-toggle" href="#">
          Uber<strong>LUX</strong>
          <span class="closed mobile-arrow icon-signup-downarrow"></span>
          <span class="open mobile-arrow icon-signup-uparrow"></span>
        </a>
        <div class="data">
          <div class="sunrise-box"><p class="sunrise">UberLUX</p></div>
          <p class="vehicle-img js-preload">UberLUX</p>
          <div class="info">
            <h5>Ultimate luxury</h5>
            <p>The finest cars with prices to match.</p>
          </div>
        </div>
      </div>

    </nav>

  </div>
</section>



<section class="uber-military-hero">
  <div class="yui3-u-1 uber-military-container">

    <div class="map-title">
      <img class="hisrc uber-military-desktop uber-military-image"
           src="//d1a3f4spazzrp4.cloudfront.net/web-fresh/home/military-web-color@1x.jpg"
           data-1x="//d1a3f4spazzrp4.cloudfront.net/web-fresh/home/military-web-color@1x.jpg"
           data-2x="//d1a3f4spazzrp4.cloudfront.net/web-fresh/home/military-web-color@2x.jpg"
           style="height: auto; width: 100%;">
      <img class="uber-military-mobile uber-military-image"
           src="//d1a3f4spazzrp4.cloudfront.net/web-fresh/home/military-mobile-color.jpg"
           style="height: auto; width: 100%;">
      <div class="uber-military-content-container">
        <div class="uber-military-content">
          <p class="label uber-military-header">
            <span class="ubm-light-text">Uber</span>MILITARY
          </p>
          <h3 class="uber-military-text">WE WANT YOU</h3>
          <p class="uber-military-text">
            UberMILITARY is Uber's pledge to onboard 50,000 service members, veterans and military spouses as partner drivers on the Uber platform.
          </p>
          <a href="/ubermilitary">
            <input type="button" value="LEARN MORE"
                   class="btn btn-filled uppercase uber-military-button">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="around-the-world">
  <div class="grid-locked grid-squeezed">

    <article class="map-title">

      <p class="label inverted">Locations</p>
      <h3>All around the world</h3>
      <p>Available locally, expanding globally</p>

      <form action="#">
        <div class='city-search js-city-search'>
          <input type="text"
                 placeholder="Find your city" />
          <a class='search-button icon-search js-search-button' href="#"></a>
          <div class='city-list js-city-list'></div>
        </div>
      </form>
      <a class="cities-link" href="/cities">View all cities</a>

    </article>

  </div>
</section>

      </section>

      <footer class="global-footer js-global-footer yui3-g">
  <div class="grid-locked">

    
    
    
    <a href="/app"
       class="sign-up yui3-u-1 res-l-hidden res-m-hidden ga-click-track js-signup-or-dl-cta js-signup-btn"
       data-ga="global-footer.download-mobile">
      Download Uber
    </a>
    

    <article class="social yui3-u-1-3 yui3-u-s-1">
      
      <a href="https://www.facebook.com/uber" target="_blank"
         class="icon icon-facebook ga-click-track"
         data-ga="global-footer.facebook-button-click"></a>
      

      
      <a href="https://twitter.com/uber" target="_blank"
         class="icon icon-twitter ga-click-track"
         data-ga="global-footer.twitter-button-click"></a>
      

      
      <a href="http://www.linkedin.com/company/1815218" target="_blank"
         class="icon icon-linkedin_box ga-click-track"
         data-ga="global-footer.linkedin-button-click"></a>
      

      
      <a href="https://instagram.com/uber/" target="_blank"
         class="icon icon-instagram ga-click-track"
         data-ga="global-footer.instagram-button-click"></a>
      
    </article>

    
    

    <article class="navs yui3-u-1-3 res-s-hidden">

      
      
      <a href="/sign-up"
         class="sign-up ga-click-track js-signup-or-dl-cta js-signup-btn"
         data-ga="global-footer.sign-up-button-web-click">
        Sign up for Uber
      </a>
      
      

      <nav class="primary">
        <a href="/" class="ga-click-track"
           data-ga="global-footer.home-button-click">
          Home
        </a>
        <span>&bull;</span>
        <a href="/cities" class="ga-click-track"
           data-ga="global-footer.cities-button-click">
          Cities
        </a>
        <span>&bull;</span>
        <a href="//partners.uber.com/drive" class="ga-click-track"
           data-ga="global-footer.drivers-button-click">
          Drive
        </a>
      </nav>
      <nav class="secondary">
        <a href="//help.uber.com" target="_blank">
          Help Center
        </a>
        <a href="/jobs" class="ga-click-track"
           data-ga="global-footer.jobs-button-click">
          Careers
        </a>
        <a href="//developer.uber.com" target="_blank">
          Developers
        </a>
        <a href="//blog.uber.com" target="_blank">
          Newsroom
        </a>
        <a href="/about" class="ga-click-track"
           data-ga="global-footer.about-button-click">
          About Us
        </a>
      </nav>

      

      

      <a class="current-lng">
        English
      </a>

      <form class="language-picker js-language-picker" action="#">
        <select id="language" class="lang-select js-lang-select">
          
          <option value="az-AZ">
            Azərbaycan
          </option>
          
          <option value="id-ID">
            Bahasa Indonesia
          </option>
          
          <option value="ms-MY">
            Bahasa Melayu
          </option>
          
          <option value="da-DA">
            Dansk
          </option>
          
          <option value="de-DE">
            Deutsch
          </option>
          
          <option value="de-AT">
            Deutsch (Austria)
          </option>
          
          <option value="el-GR">
            ελληνικά
          </option>
          
          <option value="en-US">
            English
          </option>
          
          <option value="es-MX">
            Español
          </option>
          
          <option value="es-ES">
            Español (España)
          </option>
          
          <option value="et">
            Eesti Keel
          </option>
          
          <option value="fr-FR">
            Français
          </option>
          
          <option value="it-IT">
            Italiano
          </option>
          
          <option value="hu-HU">
            Magyar
          </option>
          
          <option value="hr">
            Hrvatski
          </option>
          
          <option value="lt-LT">
            Lietuvių
          </option>
          
          <option value="nl-NL">
            Nederlands
          </option>
          
          <option value="pl-PL">
            Polski
          </option>
          
          <option value="pt-BR">
            Português (Brasil)
          </option>
          
          <option value="pt-PT">
            Português (Portugal)
          </option>
          
          <option value="ro-RO">
            Română
          </option>
          
          <option value="fi-FI">
            Suomi
          </option>
          
          <option value="sk-SK">
            Slovenčina
          </option>
          
          <option value="sv-SE">
            Svenska
          </option>
          
          <option value="tl-PH">
            Tagalog
          </option>
          
          <option value="vi-VN">
            Tiếng Việt
          </option>
          
          <option value="tr-TR">
            Türkçe
          </option>
          
          <option value="cs-CZ">
            Čeština
          </option>
          
          <option value="ru-RU">
            Pусский
          </option>
          
          <option value="bg-BG">
            български език
          </option>
          
          <option value="he-IL">
            עברית
          </option>
          
          <option value="ar-SA">
            العربية
          </option>
          
          <option value="th-TH">
            ภาษาไทย
          </option>
          
          <option value="zh-CN">
            简体中文
          </option>
          
          <option value="zh-TW">
            繁體中文
          </option>
          
          <option value="ja-JP">
            日本語
          </option>
          
          <option value="ko-KR">
            한국어
          </option>
          
        </select>
      </form>

      

    </article>

    
    <article class="downloads yui3-u-1-3 res-s-hidden">
      <a href="https://itunes.apple.com/us/app/uber/id368677368?mt=8"
         target="_blank" class="apple-store ir ga-click-track"
         data-ga="global-footer.apple-store-button-click">Apple Store</a>
      <a href="https://play.google.com/store/apps/details?id=com.ubercab"
         target="_blank" class="google-play ir ga-click-track"
         data-ga="global-footer.google-play-button-click">Google Play Store</a>
      <a href="https://www.windowsphone.com/s?appid=b905a877-bd55-4ce7-a7aa-467cdc3a21f4"
         target="_blank" class="windows-store ir ga-click-track"
         data-ga="global-footer.windows-store-button-click">Windows Store</a>
    </article>
    

  </div>

  <div class="grid-locked legal-footer-text">
    <div class="yui3-u-1 label">
      <a href="/legal/terms">Terms and Conditions</a>
      <br>
      <a href="/legal/privacy/users">Privacy Policy</a>
      
    </div>
  </div>
</footer>


    </div><!-- End of global-container -->

    <script src="/javascripts/vendor/raven-1.1.11.js"></script>
<script>
  Raven.config('https://f20e4ebb2fa84a8a8360bae0be93c408@www.uber.com/sentryProxy/64').install();
</script>

<!-- Require JS -->

<script>
  
  require = {
    // Callbacks for requirejs to call when loading the page.
    // Used by Optimizely to load in code looking for dependencies.
    callback: window && window.requirejsCallback || null,
    deps: window && window.requirejsDeps || null,

    baseUrl: '/javascripts',
    shim: {"cookie":{"deps":["jquery"]},"doubletap":{"deps":["jquery"]},"hisrc":{"deps":["jquery"]},"underscore":{"exports":"_"},"understring":{"deps":["underscore"]},"velocity":{"deps":["jquery"]}},
    paths: {"analytics":"./vendor/analytics-0.6.1","async":"./vendor/async-0.1.1","braintree":"./vendor/braintree-1.1.1.min","cookie":"./vendor/jquery-cookie-1.3.1","doubletap":"./vendor/doubletap","fastclick":"./vendor/fastclick-0.6.9","hisrc":"./vendor/hisrc","jquery":"./vendor/jquery-1.11.2.min","leaflet":"./vendor/leaflet","mbphelper":"./vendor/mbp-helper","modernizr":"./vendor/modernizr-2.6.2.min","transitionEnd":"./vendor/transitionEnd","mousetrap":"./vendor/mousetrap-1.4.4.min","placeholder":"./vendor/placeholder","store":"./vendor/store-1.3.7.min","text":"./vendor/text-2.0.5","uber-environment":"./vendor/uber-environment-1.1.4","underscore":"./vendor/underscore-1.7.0.min","understring":"./vendor/underscore-string-2.3.0","velocity":"./vendor/velocity-1.2.1.min","common":"./common","config":"./config","global":"./global","uber":"./global"}
  };
</script>



<script src="/javascripts/vendor/require-2.1.15.min.js" data-main="/javascripts/path/index-path.js"></script>

<!-- Analytics Tracking -->

<script>
  var analytics = require(['analytics', 'uber-environment'], function (analytics, Environment) {
    analytics.init({
      services: {
        uber: {
          appName: 'web-fresh',
          url: '//events.uber.com/events/web/'
        },
        tealium: {
          account: 'uber',
          profile: 'main',
          env: 'prod',
          geo: 'US'
        }
      },
      debug: Environment.isDevelopment()
    });
    return analytics;
  });

</script>



  </body>
</html>

